{{ define "home/index" }}
{{ template "layout/head" . }}
<div class="text-center">
    <h1>{{ .Content }}</h2>
    <img src="/static/images/hat-logo-dark.png" alt="HAT Logo" style="max-width: 800px; width: 100%; height: auto; margin-bottom: 20px;">
</div>
{{ template "layout/footer" . }}
{{ end }}
