{{ define "archers/archerrow" }}
<tr id="archer-{{ .ID }}">
    <td>{{ .ID }}</td>
    <td>{{ .FirstName }}</td>
    <td>{{ .LastName }}</td>
    <td>{{ .BowClass.Code }}</td>
    <td>{{ .BowClass.Name }}</td>
    <td>
        <a href="#" class="text-primary" onclick="editArcher({{ .ID }})">
            <i class="bi bi-pencil-square"></i>
        </a>
        <a href="#" class="text-danger" hx-delete="/api/archers/{{ .ID }}" hx-swap="outerHTML" hx-target="#archer-{{ .ID }}">
            <i class="bi bi-trash"></i>
        </a>
    </td>
</tr>
{{ end }}

