{{ define "archers" }}
{{ template "layout/head" . }}
<table id="archerTable" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Code</th>
            <th>Bow Class</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Archers }}
        {{ template "archers/archerrow" .}}
        {{ end }}
    </tbody>
</table>
<h2 class="mt-4">Add New Archer</h2>
{{ template "archerForm" . }}
{{ template "layout/footer" }}
{{ end }}

{{ define "archerForm" }}
<form hx-post="/api/archers" hx-swap="outerHTML" class="mt-3">
    <input type="hidden" id="archerId" name="ID" value="{{ .ID }}">
    <div class="row">
        <div class="form-group col-md-4 mb-3">
            <label for="firstName" class="text-left">First Name:</label>
            <input type="text" id="firstName" name="FirstName" class="form-control text-left" value="{{ .FirstName }}" required>
        </div>
        <div class="form-group col-md-4 mb-3">
            <label for="lastName" class="text-left">Last Name:</label>
            <input type="text" id="lastName" name="LastName" class="form-control text-left" value="{{ .LastName }}" required>
        </div>
        <div class="form-group col-md-4 mb-3">
            <label for="bowClass" class="text-left">Bow Class:</label>
            <select id="bowClass" name="BowClassID" class="form-control" required>
                {{ range .BowClasses }}
                <option value="{{ .ID }}" {{ if eq .ID $.BowClassID }}selected{{ end }}>{{ .Name }} ({{ .Code }})</option>
                {{ end }}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" id="submitButton">Add</button>
    <script>
        jQuery(document).ready(function() {
            $.noConflict();
            $('#bowClass').select2({
                placeholder: "Select a Bow Class",
                allowClear: true
            });
        });
        function editArcher(id) {
            $.ajax({
                url: '/api/archers/' + id,
                method: 'GET',
                success: function(data) {
                    $('#archerId').val(data.ID);
                    $('#firstName').val(data.FirstName);
                    $('#lastName').val(data.LastName);
                    $('#bowClass').val(data.BowClassID).trigger('change');
                    $('#submitButton').text('Update');
                }, 
                error: function() {
                    alert('Failed to load archer data.');
                }
            });
        }
    </script>
</form>
{{ end }}


{{ block "archer-oob" . }}
<template>
    <tbody hx-swap-oob="beforeend:#archerTable tbody">
        {{ template "archers/archerrow" . }}
    </tbody>
</template>
{{ end }}


