{{ define "resultLists" }}
{{ template "layout/head" . }}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tournament</th>
            <th>Venue</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {{ range .Tournaments }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Venue }}</td>
            <td>{{ .Date }}</td>
            <td>
                <a href="/api/tournaments/{{ .ID }}/download" class="btn btn-primary">Download PDF</a>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ template "layout/footer" }}
{{ end }}
