{{ define "tournaments" }}
{{ template "layout/head" . }}

<div class="container">
    <table id="tournamentTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Venue</th>
                <th>Type</th>
                <th>Handicap Set</th>
                <th>Number of Archers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Tournaments }}
            {{ template "tournament-entry" . }}
            {{ end }}
        </tbody>
    </table>

    <h2>Add Tournament</h2>
    {{ template "tournament-form" . }}
</div>

<script>
    function moveSelected(from, to) {
        $(from + ' option:selected').each(function() {
            $(this).remove().appendTo(to);
        });
        // Ensure the selected options are marked as selected
        $(to + ' option').prop('selected', true);
    }

    function selectAllArchers() {
        $('#selected-archers option').prop('selected', true);
    }
    function cancelEdit() {
        // Reset form action to add
        document.getElementById('tournament-form').action = '/tournaments';
        document.getElementById('tournament-id').value = '';
        document.getElementById('submit-button').textContent = 'Add Tournament';
        document.getElementById('cancel-button').style.display = 'none';
        document.getElementById('tournament-form').reset();
    }

    async function editTournament(tournamentId) {
        try {
            const response = await fetch(`/api/tournaments/${tournamentId}`);
            if (!response.ok) {
                throw new Error('Failed to fetch tournament data');
            }
            const tournament = await response.json();

            // Set form action to update
            document.getElementById('tournament-form').action = `/tournaments/${tournamentId}`;
            document.getElementById('tournament-id').value = tournamentId;
            document.getElementById('name').value = tournament.Name;
            document.getElementById('venue').value = tournament.Venue;
            document.getElementById('date').value = tournament.Date.split('T')[0]; // Assuming the date is in ISO format
            document.getElementById('type').value = tournament.TournamentType;
            document.getElementById('handicapSetID').value = tournament.HandicapSetID;

            // Move selected archers to the selected list
            const availableArchers = document.getElementById('available-archers');
            const selectedArchers = document.getElementById('selected-archers');
            selectedArchers.innerHTML = '';

            tournament.Archers.forEach(archer => {
                const option = document.createElement('option');
                option.value = archer.ID;
                option.selected = true;
                option.textContent = `${archer.FirstName} ${archer.LastName} (${archer.BowClass.Code})`;
                selectedArchers.appendChild(option);

                // Remove from available archers
                const availableOption = availableArchers.querySelector(`option[value="${archer.ID}"]`);
                if (availableOption) {
                    availableOption.remove();
                }
            });
            document.getElementById('submit-button').textContent = 'Update Tournament';
            document.getElementById('submit-button').textContent = 'Update Tournament';
            document.getElementById('cancel-button').style.display = 'inline-block';
        } catch (error) {
            console.error('Error editing tournament:', error);
            alert('Error loading tournament data.');
        }
    }
</script>
{{ template "layout/footer" . }}
{{ end }}


{{ block "tournament-form" . }}
    <form id="tournament-form" hx-post="/api/tournaments" hx-swap="outerHtml" onsubmit="selectAllArchers()">
        <input type="hidden" id="tournament-id" name="ID" value="">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="name" class="text-left">Name</label>
                <input type="text" class="form-control text-left" id="name" name="Name" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="venue">Venue</label>
                <input type="text" class="form-control text-left" id="venue" name="Venue" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="date">Date</label>
                <input type="date" class="form-control text-left" id="date" name="date" required>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="type" class="text-left">Type</label>
                <select class="form-control text-left" id="type" name="TournamentType" required>
                    <option value="Indoor">Indoor</option>
                    <option value="3D">3D</option>
                    <option value="Field">Field</option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="handicapSetID">Handicap Set</label>
                <select class="form-control" id="handicapSetID" name="handicapSetID" required>
                    {{ range .HandicapSets }}
                    <option value="{{ .ID }}">{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>
            <div class="form-group col-md-13 mb-3">
                <div class="col-md-5" style="display: inline-block; width: 45%; vertical-align: top;">
                    <label for="available-archers" class="text-left">Available Archers</label>
                    <select multiple class="form-control" id="available-archers" size="25" style="width: 100%;">
                        {{ range .Archers }}
                        <option value="{{ .ID }}">{{ .FirstName }} {{ .LastName }} ({{.BowClass.Code}})</option>
                        {{ end }}
                    </select>
                </div>
                <div class="col-md-2 mb-3 text-center" style="display: inline-block; width: 10%; vertical-align: middle; position: relative; top: 50%; transform: translateY(-50%);">
                    <button type="button" class="btn btn-secondary" onclick="moveSelected('#available-archers', '#selected-archers')">&gt;&gt;</button>
                    <button type="button" class="btn btn-secondary" onclick="moveSelected('#selected-archers', '#available-archers')">&lt;&lt;</button>
                </div>
                <div class="col-md-5" style="display: inline-block; width: 45%; vertical-align: top;">
                    <label for="selected-archers" class="text-left">Selected Archers</label>
                    <select multiple class="form-control" id="selected-archers" name="archers[]" size="25" style="width: 100%;">
                        <!-- Ensure options are populated here -->
                    </select>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submit-button">Add Tournament</button>
        <button type="button" class="btn btn-secondary" id="cancel-button" style="display: none;" onclick="cancelEdit()">Cancel</button>
    </form>
{{ end }}


{{ block "tournament-entry" . }}
<tr id="tournament-{{ .ID }}">
    <td>{{ .Name }}</td>
    <td>{{ .Date.Format "2006-01-02" }}</td>
    <td>{{ .Venue }}</td>
    <td>{{ .TournamentType }}</td>
    <td>{{ .HandicapSet.Name }}</td>
    <td>{{ len .Archers }}</td>
    <td>
        <a href="javascript:void(0)" class="text-primary" title="Edit" onclick="editTournament({{ .ID }})">
            <i class="bi bi-pencil-square"></i>
        </a>
        <a href="#" title="Delete" class="text-danger" hx-delete="/api/tournaments/{{ .ID }}" hx-confirm="Are you sure you want to delete '{{ .Name }}'?" hx-swap="outerHTML" hx-target="#tournament-{{ .ID }}">
            <i class="bi bi-trash"></i>
        </a>
        <a href="/tournament/score/{{ .ID }}" title="Result" class="text-primary" >
            <i class="bi bi-trophy"></i>
        </a>
    </td>
</tr>
{{ end }}

{{ block "tournament-oob" . }}
<template>
    <tbody hx-swap-oob="beforeend:#tournamentTable tbody">
        {{ template "tournament-entry" . }}
    </tbody>
</template>
{{ end }}


