{{ template "head" }}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Set Name</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range .HandycapSets }}
        <tr>
            <td>{{ .Name }}</td>
            <td>{{ .UpdatedAt.Format "2006-01-02 15:04:05" }}</td>
            <td>
                <a href="/handycaps/edit/{{ .ID }}" class="text-primary" title="Edit">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a href="javascript:void(0);" onclick="confirmDelete({{ .ID }}, 'handycaps')" class="text-danger" title="Delete">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

<a href="/handycaps/add" class="btn btn-primary mt-3">Add New Handycap Set</a>
{{ template "footer" }}
