{{ template "head" }}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Set Name</th>
            <th>Handycaps</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range .HandycapSets }}
        <tr>
            <td>{{ .Name }}</td>
            <td>
                <ul>
                    {{ range .Handicaps }}
                    <li>{{ .Name }}: {{ .Value }}</li>
                    {{ end }}
                </ul>
            </td>
            <td>
                <a href="/handycaps/edit/{{ .ID }}">Edit</a>
                <a href="/handycaps/delete/{{ .ID }}">Delete</a>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

<a href="/handycaps/add" class="btn btn-primary mt-3">Add New Handycap</a>
{{ template "footer" }}
