<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAT - Handycap Archery Tournament System</title>
</head>
<body>
    <header>
        <h1>Archery Tournament System</h1>
    </header>
    {{ template "nav.tmpl" . }}
    <main>
        {{ .Content }}
    </main>
</body>
</html>
