<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/participants">Participants</a></li>
        <li><a href="/scores">Scores</a></li>
        <li><a href="/results">Results</a></li>
    </ul>
</nav>
