{{ define "nav" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-nav">
    <a class="navbar-brand" href="/">HAT</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/scores">Scores</a></li>
            <li class="nav-item"><a class="nav-link" href="/tournaments">Tournaments</a></li>
            <li class="nav-item"><a class="nav-link" href="/archers">Archers</a></li>
            <li class="nav-item"><a class="nav-link" href="/handycaps">Handycaps</a></li>
            <li class="nav-item"><a class="nav-link" href="/bowclasses">Bow Classes</a></li>
            <li class="nav-item"><a class="nav-link" href="/resultLists">Result Lists</a></li>
        </ul>
    </div>
</nav>
{{ end }}
