{{ template "head" . }}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Venue</th>
                <th>Handycap Set</th>
                <th>Number of Archers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Tournaments }}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .Date.Format "2006-01-02" }}</td>
                <td>{{ .Venue }}</td>
                <td>{{ .HandycapSet.Name }}</td>
                <td>{{ len .Archers }}</td>
                <td>
                    <a href="/tournaments/{{ .ID }}/edit" class="text-primary" title="Edit">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="javascript:void(0)" title="Delete" class="text-danger" onclick="confirmDelete({{ .ID }}, 'tournaments')">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <h2>Add Tournament</h2>
    <form action="/tournaments" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="Name" required>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="venue">Venue</label>
            <input type="text" class="form-control" id="venue" name="Venue" required>
        </div>
        <div class="form-group">
            <label for="handycapSetID">Handycap Set</label>
            <select class="form-control" id="handycapSetID" name="handycapSetID" required>
                {{ range .HandycapSets }}
                <option value="{{ .ID }}">{{ .Name }}</option>
                {{ end }}
            </select>
        </div>
        <div class="form-group">
            <label for="archers">Select Archers</label>
            <select multiple class="form-control" id="archers" name="archers">
                {{ range .Archers }}
                <option value="{{ .ID }}">{{ .FirstName }} {{ .LastName }}</option>
                {{ end }}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Tournament</button>
    </form>
</div>

{{ template "footer" . }}
