{{ template "head" . }}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Venue</th>
                <th>Type</th>
                <th>Handicap Set</th>
                <th>Number of Archers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Tournaments }}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .Date.Format "2006-01-02" }}</td>
                <td>{{ .Venue }}</td>
                <td>{{ .TournamentType }}</td>
                <td>{{ .HandicapSet.Name }}</td>
                <td>{{ len .Archers }}</td>
                <td>
                    <a href="/tournaments/{{ .ID }}/edit" class="text-primary" title="Edit">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="javascript:void(0)" title="Delete" class="text-danger" onclick="confirmDelete({{ .ID }}, 'tournaments')">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <h2>Add Tournament</h2>
    <form action="/tournaments" method="post">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="Name" required>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="type">Type</label>
                <select class="form-control" id="type" name="TournamentType" required>
                    <option value="Indoor">Indoor</option>
                    <option value="3D">3D</option>
                    <option value="Field">Field</option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="venue">Venue</label>
                <input type="text" class="form-control" id="venue" name="Venue" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="handicapSetID">Handicap Set</label>
                <select class="form-control" id="handicapSetID" name="handicapSetID" required>
                    {{ range .HandicapSets }}
                    <option value="{{ .ID }}">{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>
            <div class="form-group col-md-13 mb-3">
                <div class="col-md-5" style="display: inline-block; width: 45%; vertical-align: top;">
                    <label for="available-archers">Available Archers</label>
                    <select multiple class="form-control" id="available-archers" size="25" style="width: 100%;">
                        {{ range .Archers }}
                        <option value="{{ .ID }}">{{ .FirstName }} {{ .LastName }} ({{.BowClass.Code}})</option>
                        {{ end }}
                    </select>
                </div>
                <div class="col-md-2 mb-3 text-center" style="display: inline-block; width: 10%; vertical-align: middle; position: relative; top: 50%; transform: translateY(-50%);">
                    <button type="button" class="btn btn-secondary" onclick="moveSelected('#available-archers', '#selected-archers')">&gt;&gt;</button>
                    <button type="button" class="btn btn-secondary" onclick="moveSelected('#selected-archers', '#available-archers')">&lt;&lt;</button>
                </div>
                <div class="col-md-5" style="display: inline-block; width: 45%; vertical-align: top;">
                    <label for="selected-archers">Selected Archers</label>
                    <select multiple class="form-control" id="selected-archers" name="archers[]" size="25" style="width: 100%;">
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Tournament</button>
    </form>
</div>

<script>
    function moveSelected(from, to) {
        $(from + ' option:selected').each(function() {
            $(this).remove().appendTo(to);
        });
    }
</script>
{{ template "footer" . }}
