{{ define "layout/footer" }}
    <footer class="text-center mt-4">
        <p>&copy; 2025 BST - BS Thalwil, Martin Knoller Stocker. <a href="https://github.com/linuxswords/hat" target="_blank">linuxswords/hat</a></p>
    </footer>
</body>
</html>
{{ end }}
